{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>图书搜索系统</title>
    <link rel="icon" href="{% static 'SSRN/images/fh.jpg' %}">
{#    加载静态文件css#}
    <link rel="stylesheet" type="text/css" href="{% static 'SSRN/style.css' %}" />
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body style="text-align: center";>
<div class="container">
<h2 class="text-center" style="color: #2aabd2">  ssrn 论文排名</h2>
{#<img src="{% static 'SSRN/images/fh.jpg' %}" />#}
<span>
        共{{paper_pages.count}}篇博文。当前第{{papers.number}}页，共{{paper_pages.num_pages}}页
</span>
<div align="right">
<form method="get" action="/search/" >
    {% csrf_token %}
    <p>输入文章gid</p>
    <input type="search" placeholder="搜索" required name="q">
    <button type="submit">搜索</button>
</form>
</div>
<table class="table table-bordered  table-hover table-condensed">
    <caption>基本的表格布局</caption>
    <thead>
        <tr class="info">
            <th>作者</th>
            <th>简介</th>
            <th>下载排名</th>
            <th>下载链接</th>
            <th>在线查看</th>
            <th>点击下载</th>
        </tr>
    </thead>
    <tbody>
        {% for i in papers %}
        <tr>
            <td>{{ i.author }}</td>
            <td>{{ i.title }}</td>
            <td>{{ i.downloads }}</td>
            <td> http://192.168.1.160/static/SSRN/ssrnPdf/SSRN-id2900447.pdf </td>
{#            <td> http://192.168.1.160/static/SSRN/ssrnPdf/SSRN-id{{ i.gid}}.pdf </td>#}
{#            <td>{{ i.link }} </td>#}
            <td><a href=http://192.168.1.160/ssrnPdf/SSRN-id2900447.pdf><span> check </span> </a></td>
            <td><a href="http://192.168.1.160/ssrnPdf/SSRN-id2900447.pdf" download="SSRN-id2900447.pdf"><span class="glyphicon glyphicon-save"></span></a></td>
{#            <td><a href={{ i.link }}><span class="glyphicon glyphicon-save"></span></a></td>#}
{#            <td><span class="glyphicon glyphicon-save"></span></td>#}
        </tr>
        {% endfor %}

    </tbody>
</table>

    <ul class="pagination">
        <li id = pg ><a id="pageon" onclick="pageonClick()">上一页</a></li>
        <li ><a id="pagedown" onclick=pagedownClick()>下一页</a></li>
    </ul>

</div>
{#    页面导航处理#}
<script type="text/javascript">
    var papernum = {{ papers.number }}
    function pagedownClick() {
        $("#pagedown").click(function () {
            var n = $("#last").text();
            ln = Number(n) + 1
            $("#pagedown").attr("href", '?page='+ ln  +'');
        });
    };

    function pageonClick() {
        $("#pageon").click(function () {
            var t1 = $("#first").text();
            if (t1==1){
               t1 = 2;
            }
            alert(t1)
            $("#pageon").attr("href",'?page='+ (t1 -1) +'');
        });
    }
    $(function () {
        var pagenow = {{ papers.number }}
        var v1 = Math.floor((pagenow/5))*5;
        if ((pagenow%5)==0){
            v1 = (Math.floor((pagenow/5)) -1 )*5;
        }

        $("#pg").after('<li id="last"><a href="?page= '+ (v1 + 5) + '">'+ (v1 + 5) +'</a></li>')
            .after('<li><a href="?page= '+ (v1 + 4) +'">'+ (v1 + 4) +'</a></li>')
            .after('<li><a href="?page= '+ (v1 + 3) +'">'+ (v1 + 3) +'</a></li>')
            .after('<li><a href="?page= '+ (v1 + 2) +'">'+ (v1 + 2) +'</a></li>')
            .after('<li id = "first"><a href="?page= '+ (v1 + 1) +'">'+ (v1 + 1) +'</a></li>');
    })
</script>

</body>

</html>